.masonry-grid {
  /* display: -webkit-box;  */
  /* display: -ms-flexbox;  */
  display: flex;
  flex-wrap: wrap;
  width: auto;
  transition: transform 100ms;
}
.masonry-grid_column {
  padding-left: 15px; /* gutter size */
  /* background-clip: padding-box; */
  transition: transform 100ms;
}

/* .masonry-grid_column > div {
  margin: 15px auto;
} */
